

{% extends "::layout.html.twig" %}

{% block menu_Parcelles %}<span class="selected"></span>{% endblock %}
{% block menu_Parcelles_active %}active{% endblock %}

{% block sub_menu %}

{% endblock %}

{% block body_app %}
             
{% endblock %}